 <div class="row bg-warning fixed-top bt-5">
 <div class="container">
   <div class="col-sm-12 offset-lg-9">
<!-- 	<a  class="btn btn-info" routerLink="/instructor">Back to Instructors</a>-->
 	 </div><!-- column -->
 	</div><!-- container -->
 </div><!-- row button instruct rout -->
<div class="container">
 <div class="row mt-5" >
  <div class="col-lg-4 col-sm-12 mb-5" *ngFor="let item of selectedData">
  	<div class="card card-height" style="width: 18rem;" >
     <img class="card-img-top" src="{{item.img}}" alt="Card image cap">
     <div class="card-body">
		<h5 class="card-title">Category:{{item.category}}</h5>
		<p class="card-text">Description:{{item.Description}}</p>
		<p class="card-text">Start Date:{{item.StartDate}}</p>
		<p class="card-text">End Date:{{item.EndDate}}</p>
		<p class="card-text">Start Date:{{item.StartDate}}</p>
		<p class="card-text">reserve:{{item.reserved}}</p>
	    <p class="card-text">Cost:{{item.Cost}}</p>
      </div><!-- card-body -->
		</div><!-- "card -->
  </div><!-- column -->
 </div><!-- row -->
</div><!-- container -->
