<div class="container">
     <div class="row">
            <div class="navbar-nav">
              <a class="nav-item nav-link" routerLink="/CourseAdmin">Courses</a>
              <a class="nav-item nav-link" routerLink="/AdminInstructor">instructor</a>
              <a class="nav-item nav-link" routerLink="/WrkspaceAdmin">workspace</a>
            </div>

      </div><!-- link rows -->
    <div class="row mb-5 mt-3"  *ngFor="let instruct of instructorAdmin">
        <div class="col-lg-4 col-sm-12">
            <p class="mt-0"><b>userId:</b> {{instruct.userId}}</p>
            <p><b>firstName:</b> {{instruct.firstName}}</p>
            <p><b>lastName: </b> {{instruct.lastName}}</p>
            <p><b>userDob: </b>{{instruct.userDob}}</p>
            <p><b>email: </b>{{instruct.email}}</p>
            <p><b>gender:</b> {{instruct.gender}}</p>
           
     
              <div *ngFor="let skillsstruct of instruct.instructor.skillsCollection">
               <p><b>skill-Id:</b>{{skillsstruct.skillId}}</p>
               <p><b>skill-Value: </b>{{skillsstruct.skillValue}}</p>
             </div>
        </div><!-- column 1 -->

        <div class="col-lg-4 col-sm-12">
            <img src="{{instruct.imgUrl}}" alt="Generic placeholder image">
            <div *ngFor="let instImg of instruct.instructor.instructorImagesCollection">
                <p><b>iMage-Id:</b>{{instImg.imgId}}</p>
                <img src="{{instImg.imagesrc}}">
              </div>
              <p><b>following:</b> {{instruct.following}}</p>
              <p><b>instructor-userId: </b>{{instruct.instructor.userId}}</p>
              <p><b>instructor-totalRate:</b> {{instruct.instructor.totalRate}}</p>
              <p><b>followingNumber: </b>{{instruct.followingNumber}}</p>
              <p><b>followersNumber:</b> {{instruct.followersNumber}}</p>
        </div><!-- column 2 -->

        <div class="col-lg-4 col-sm-12">
              <div *ngFor="let videoinstruct of instruct.instructor.instructorVideosCollection">
                 <p><b>videoId:</b>{{videoinstruct.videoId}}</p>
                 <p>video: {{videoinstruct.videoUrl}}</p>
                </div>
              <div *ngFor="let videourl of instruct.instructor.instructorUrlsCollection">
                  <p><b>video-Id:</b>{{videourl.urlId}}</p>
                  <p><b>video-url:</b> {{videourl.urlValue}}</p>
                </div>
              <div *ngFor="let category of instruct.categoryCollection">
                  <p><b>video-Id:</b>{{category.categoryId}}</p>
                  <p><b>catory-name:</b> {{category.name}}</p>
                  <p><b>category img-url:</b> {{category.imageUrl}}</p>
                </div>
                
        </div><!-- column 3 -->
</div><!-- container -->


