<nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
  <a class="navbar-brand" routerLink="" routerLinkActive="active"><img src="assets/logo.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link text-info" routerLink="" routerLinkActive="active">Home</a>
      </li><!--Home-->
      <li class="nav-item">
        <a class="nav-link text-info" routerLink="Signup" routerLinkActive="active">SignUp</a>
      </li><!--SignUp-->
      <li class="nav-item">
        <a class="nav-link text-info" routerLink="SignIn" routerLinkActive="active">SignIn</a>
      </li><!--SignIn-->  
      <li class="nav-item">
        <a class="nav-link text-info" routerLink="Admin" routerLinkActive="active">Admin</a>
      </li><!--Admin-->  
    </ul><!--end of ul dropdowns and links-->
  </div><!--end of UL div-->
    </div><!--end of container--> 
    </nav>
