<div class="container">
    <div class="row">
    	<div class="col-lg-6 mt-2">
    		<a class="btn btn-info ml-3 w-25"  routerLink="/instructor">Instructor</a>
    		<a class="btn btn-info ml-3 w-25"  routerLink="/WrkspcCrs">My requests</a>
    		<a class="btn btn-info ml-3 w-25" routerLink="/FormCourse">Add courses</a>
    	</div><!-- column -->
    </div><!-- row -->
    
	<div class="row">
		<div class="col-sm-12 col-lg-9">
			<div class="media mt-5">
			  <img class="align-self-center mr-3" src="http://via.placeholder.com/500x300" alt="Generic placeholder image">
			  <div class="media-body">
			   
				<h4 class="mb-2 mt-3 ">Workspace name</h4>
				<h4>0101-1888-6182</h4>
				<h4 class="mb-2">City:Alexandria</h4>
				<h4 class="mb-2">Open-Time:10:30</h4>
				<h4 class="mb-2">Close-Time:10:30</h4>
				<h4 class="mb-2">Facebook-Url:facebook</h4>
			  </div><!-- media-body -->
            </div><!-- media -->
		</div><!-- col -->
	</div><!-- row -->
	<hr>
	<div class="row mt-5">
		<div class="col-sm-12">
		    <h2>Description</h2>
			<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. </p>
		</div><!-- col-description -->
	</div><!-- description Row -->
</div><!-- container -->